<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Researchly</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/colors.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/researchly_icon.png') }}">
</head>
<body>
    {% include "_topbar.html" %}

    <main class="page">
        <section class="card">
            <h2>Your account is pending.</h2>
            <p>You’ll be notified when your account is activated!</p>
        </section>
    </main>
</body>
</html>